{% extends 'news/base.html' %}
{% load static %}

{% block title %} Foydalanuvchi malumotlarini o'zgartirish {% endblock title %}

{% block content %}
<h2>Foydalanuvchi malumotlarini o'zgartirish </h2>
<p>SIZ o'zingiz haqingizdagi ma'lumotlarini quyidagi forma orlaqi o'zgartirishingiz mumkin</p>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ user_form.as_p }}
    {{ profile_form.as_p }}
    <button type="submit"> O'zgarishlarni saqlash</button>
</form>

{% endblock %}
