{% extends 'news/base.html' %}

{% load static %}

{% block title %} Parolni tiklash {% endblock title %}

{% block content %}
<h1>Parolni tiklash</h1>
<p>Parloingizni tiklash uchun e-mail kiriting</p>
    {% if validlink %}
        <p>Iltimos yangi parolni kiriting</p>
        <form method="post">{% csrf_token %}
        {{ form.as_p }}
        <p><button type="submit">Parolni almashtirish</button></p>
        </form>
        {% else %}
            <p>Siz noto'g'ri linkdan foydalandingiz, oldin ishlatilgan link bo'lishi mumkin</p>

    {% endif %}
{% endblock content %}
